body {
    margin: auto;
    font-family: Arial;
    background-color: #222;
    width: 1600px;
}

.nav_movies {
    margin: auto;
    display: flex;
    justify-content: center;
    width: 60%;
}
.description {
    width: 400px;
}
.nav {
    display: flex;
    justify-content: space-between;
    background-color: #708090;
    padding: 5px;
}
a {
  text-decoration: none;
}
.nav2{
  display: flex;
  margin-top: 10px;
}
.nav p {
    margin: 10px;
}
i, p, h1, h2 {
    color: #ccc
}
article h2 {
    text-align: center;
}
.icone_arrow {
    margin-top:15%;
}
.fa-arrow-left{
  margin-right: 25px;
}
.fa-arrow-right{
  margin-left: 25px;
}
img {
    margin: 10px;
    width: 200px;
    border-radius: 5px;
}
#modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
    background-color: #1e90f1;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width:50%; /* Could be more or less, depending on screen size */
    height: auto;
  }
.imgModal {
  width: 150px;
  text-align: center;
  margin:auto;
  display: block
}
  .close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  article {
    margin-top: 5%;
  }
  .play-btn {
    width: 80px;
    height: 80px;
    background: radial-gradient( rgba(254,163,71,0.8) 60%, rgba(255, 255, 255, 1) 62%);
    border-radius: 50%;
    position: relative;
    display: block;
    margin: auto;
    box-shadow: 0px 0px 25px 3px rgba(254,163,71,0.8);
  }
  
  /* triangle */
  .play-btn::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-40%) translateY(-50%);
    transform: translateX(-40%) translateY(-50%);
    transform-origin: center center;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 25px solid #fff;
    z-index: 100;
    -webkit-transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }


  