body{
    font-family: Arial;
    width: 80%;
    margin: auto;
}
#menu1{
    display: flex;
    justify-content: space-between;
}
#menu2{
    display: flex;
}
.menu2{
    margin: 10px;
}
.phrasing1{
   text-align: center;
}
